{{ $portfolioScratch := newScratch }}
{{ $portfolioMobileScratch := newScratch }}
{{ partials "slides/columns" (dict  "portfolioScratch" $portfolioScratch "portfolioMobileScratch" $portfolioMobileScratch "ctx" .) }}

{{ partials "header.html" . }}
{{ partials "navbar.html" . }}

<section id="desktop" class="section work">
	{{ partials "helpers/hidden-menu.html" . }}
	{{ partials "slides/slider" (dict "scratch" $portfolioScratch "type" "desktop" "ctx" .) }}
</section>

<section id="mobile" class="section work">
	{{ partials "helpers/hidden-menu.html" . }}
	{{ partials "slides/slider" (dict "scratch" $portfolioMobileScratch "type" "mobile" "ctx" .) }}
</section>

{{ partials "slides/slides" $portfolioScratch }}
{{ partials "footer" . }}
